body {
  background-color: #333;
  color: #ddd;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 20px;
  background-color: #333;
}

nav, ul{
  list-style: none;
  background-color: #333;
}

a{
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1.2rem;
  background-color: #333;

}

.navbar-brand{
  color: white;
  background-color: #333;
}

a:hover{
  opacity: 1;

}

header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #333;
}

header nav{
  display: flex;
  padding-right: 790px;
  background-color: #333;

}

header li a{
  color: white;

}

header li{
  margin: 0px 15px;

}

header li:first-child {
  margin-left: 0;
}

header li:last-child{
  margin-right: 0;
}

h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

p{
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 20px;
}

hr{
  margin-top: 215px;
}


