<div class="container">

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Desafio Indra</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink="lista-usuarios">Usuários</a>
          </li>
          <li class="nav-item">
            <a routerLink="historico-preco">Histórico de Preços</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <h1>Lista de Usuários</h1>

    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome">
        <input type="text" class="form-control" placeholder="Email">
        <input type="text" class="form-control" placeholder="Telefone">
        <input type="text" class="form-control" placeholder="Senha">
      </div>

      <button type="button" class="btn btn-primary"   *ngIf="btnCadastro"  >Cadastrar Novo Usuário</button>
      <button type="button" class="btn btn-warning"   *ngIf="!btnCadastro" >Editar</button>
      <button type="button" class="btn btn-danger"    *ngIf="!btnCadastro" >Remover</button>
      <button type="button" class="btn btn-secondary" *ngIf="!btnCadastro" >Cancelar</button>
    </form>
  </div>

  <table class="table">
    <thead>

      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Senha</th>
        <th>Selecionar</th>
      </tr>

    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td></td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.telefone}}</td>
        <td>{{user.senha}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
