<div class="container">

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Desafio Indra</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink="lista-usuarios">Usuários</a>
          </li>
          <li class="nav-item">
            <a routerLink="/historico-preco">Histórico de Preços</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

    <h1>Lista de Usuários</h1>

    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome"     name="nome"     [(ngModel)] = "user.name">
        <input type="text" class="form-control" placeholder="Email"    name="email"    [(ngModel)] = "user.email">
        <input type="text" class="form-control" placeholder="Telefone" name="telefone" [(ngModel)] = "user.telefone">
        <input type="text" class="form-control" placeholder="Senha"    name="senha"    [(ngModel)] = "user.senha">
      </div>

      <input type="button" value="Cadastrar novo Usuario" *ngIf="btnCadastro" class="btn btn-primary"   (click) = "cadastrar()">
      <input type="button" value="Alterar"  *ngIf="!btnCadastro" class="btn btn-warning"                (click) = "editar()">
      <input type="button" value="Remover"  *ngIf="!btnCadastro" class="btn btn-danger"                 (click) = "delete()">
      <input type="button" value="Cancelar" *ngIf="!btnCadastro" class="btn btn-secondary"              (click) = "cancelar()">
    </form>

  <table class="table" *ngIf="tabela">
    <thead>

      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Senha</th>
        <th>Selecionar</th>
      </tr>

    </thead>

    <tbody>
      <tr *ngFor="let user of users; index as i">
        <td>{{i+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.telefone}}</td>
        <td>{{user.senha}}</td>
        <td><button class="btn btn-success" (click)="selecionarUsuario(i)">Selecionar</button></td>
      </tr>
    </tbody>
  </table>

</div>
