<header>
  <a class="navbar-brand" href="#">Desafio Indra</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav>
      <li class="nav-item">
        <a routerLink="/lista-usuarios">Usuários</a>
      </li>
      <li class="nav-item">
        <a routerLink="historico-preco">Histórico de Preços</a>
      </li>
  </nav>
</header>

<body>

<div class="container">

<h1>Consultar Histórico de Preços de Combustível</h1>
<h2>Cadastre um novo Distribuidor</h2>

<div>

  <form>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Distribuidor" name="Distribuidor" [(ngModel)] = "historico.distribuidor">
      <input type="text" class="form-control" placeholder="Município" name="Município" [(ngModel)] = "historico.municipio">
      <input type="text" class="form-control" placeholder="Região" name="Região" [(ngModel)] = "historico.regiao">
      <input type="text" class="form-control" placeholder="Bandeira" name="Bandeira" [(ngModel)] = "historico.bandeira">
      <input type="text" class="form-control" placeholder="Tipo de Combustível" name="tipoCombustivel" [(ngModel)] = "historico.tipoCombustivel">
      <input type="text" class="form-control" placeholder="Data de Coleta" name="dataColeta" [(ngModel)] = "historico.dataColeta">
      <input type="text" class="form-control" placeholder="Valor de Compra" name="valorCompra" [(ngModel)] = "historico.valorCompra">
      <input type="text" class="form-control" placeholder="Valor de Venda" name="valorVenda" [(ngModel)] = "historico.valorVenda">
    </div>

    <input type="button" value="Cadastrar novo Distribuidor" *ngIf="btnCadastro" class="btn btn-primary" (click)="cadastrar()" >
    <input type="button" value="Alterar" *ngIf="!btnCadastro"  class="btn btn-warning" (click)="editar()">
    <input type="button" value="Remover"  *ngIf="!btnCadastro" class="btn btn-danger" (click)="delete()">
    <input type="button" value="Cancelar" *ngIf="!btnCadastro" class="btn btn-secondary" (click)="cancelar()">

  </form>

  <div>
      <table class="table-user">
          <thead>
              <tr>
                  <th></th>
                  <th>Distribuidor</th>
                  <th>Município</th>
                  <th>Região</th>
                  <th>Bandeira</th>
                  <th>Tipo de Combustível</th>
                  <th>Data de Coleta</th>
                  <th>Valor de Compra</th>
                  <th>Valor de Venda</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let h of historicos; index as i">
                  <td>{{i+1}}</td>
                  <td>{{h.distribuidor}}</td>
                  <td>{{h.municipio}}</td>
                  <td>{{h.regiao}}</td>
                  <td>{{h.bandeira}}</td>
                  <td>{{h.tipoCombustivel}}</td>
                  <td>{{h.dataColeta}}</td>
                  <td>{{h.valorCompra}}</td>
                  <td>{{h.valorVenda}}</td>
                  <td><button class="btn btn-success" (click)="selecionarUsuario(i)">Selecionar</button></td>
              </tr>
          </tbody>
      </table>
  </div>

  <h2>Obter Média de Preço Por Municipio</h2>

  <div class="form-media">
    <label for="municipio">Município:</label>
    <input class="input-media" type="text" id="municipio" [(ngModel)]="municipio">
    <button class="btn-metodos" (click)="obterMediaPrecoPorMunicipio()">Obter Média de Preço</button>
    <p>A média de preço para o município {{ municipio }} é: {{ mediaPreco }}</p>
  </div>

  <h2>Obter Preço Por Região</h2>

  <div class="form-regiao">
    <label for="regiao">Região:</label>
    <input class="input-regiao" type="text" id="regiao" [(ngModel)]="regiao">
    <button class="btn-metodos" (click)="obterPrecosPorRegiao()">Obter Preços por Região</button>
    <table class="table-regiao" *ngIf="historicosRegiao.length > 0">
      <thead>
        <tr>
          <th>Municipio</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let preco of historicosRegiao">
          <td>{{ preco.municipio }}</td>
          <td>{{ preco.valorVenda }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2>Obter Dados Agrupados Por Distribuidora</h2>
  <div>
    <label for="distribuidor">Distribuidor:</label>
    <input class="input-regiao" type="text" id="distribuidor" [(ngModel)]="distribuidor">
    <button class="btn-metodos" (click)="obterDistribuidores()">Obter dados Por Distribuidor</button>
    <table class="table-distribuidor" *ngIf="distribuidores.length > 0">
      <thead>
        <tr>
          <th></th>
          <th>Distribuidor</th>
          <th>Município</th>
          <th>Região</th>
          <th>Bandeira</th>
          <th>Tipo de Combustível</th>
          <th>Data de Coleta</th>
          <th>Valor de Compra</th>
          <th>Valor de Venda</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let distribuidor of distribuidores; index as i">
          <ng-container *ngFor="let dado of distribuidor.dados">
            <td>{{ i+1 }}</td>
            <td>{{ dado.distribuidor }}</td>
            <td>{{ dado.municipio }}</td>
            <td>{{ dado.regiao }}</td>
            <td>{{ dado.bandeira }}</td>
            <td>{{ dado.tipoCombustivel }}</td>
            <td>{{ dado.dataColeta }}</td>
            <td>{{ dado.valorCompra }}</td>
            <td>{{ dado.valorVenda }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <h2>Dados Agrupados Por Data Da Coleta</h2>

  <div class="container">
    <div></div>
      <table class="table-data">
        <thead>
        <tr>
          <th>ID</th>
          <th>Distribuidor</th>
          <th>Data de Coleta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of precosAgrupados | keyvalue">
          <td *ngFor="let preco of data.value">{{ preco.id }}</td>
          <td *ngFor="let preco of data.value">{{ preco.distribuidor }}</td>
          <td>{{ data.key }}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>

  <h2>Obter Média de Preço da Compra e Venda Por Município</h2>

  <div class="form-media">
    <label for="municipio">Município:</label>
    <input class="input-media" type="text" id="municipio" [(ngModel)]="municipio">
    <button class="btn-metodos" (click)="obterMediaCompraVendaPorMunicipio()">Obter Média de Preço</button>
    <p>A média de preço de compra para o município {{ municipio }} é: {{ mediaCompra }}</p>
    <p>A média de preço de venda para o município {{ municipio }} é: {{ mediaVenda }}</p>
  </div>

  <h2>Obter Média de Preço da Compra e Venda Por Bandeira</h2>

  <div class="form-media">
    <label for="bandeira">Bandeira:</label>
    <input class="input-media" type="text" id="bandeira" [(ngModel)]="bandeira">
    <button class="btn-metodos" (click)="obterMediaPrecoPorBandeira()">Obter Média de Preço</button>
    <p>A média de preço de compra para o município {{ bandeira }} é: {{ mediaCompra }}</p>
    <p>A média de preço de venda para o município {{ bandeira}} é: {{ mediaVenda }}</p>
  </div>

</div>
</body>



