<div class="container">
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Desafio Indra</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/lista-usuarios">Usuários</a>
        </li>
        <li class="nav-item">
          <a routerLink="historico-preco">Histórico de Preços</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div>

  <h2>Consultar Histórico de Preços de Combustível</h2>

  <form class="search-form" (submit)="pesquisarDistribuidor(distributor.value)">
    <label for="distributor">Distribuidor:</label>
    <input type="text" id="distributor" name="distributor" #distributor>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
  </form>

  <div *ngFor="let h of historicos">
    <h2>{{ h.distribuidor }}</h2>
  </div>

  <form>
    <div class="form-group" *ngIf="mostrarTabela">
      <input type="text" class="form-control" placeholder="Município">
      <input type="text" class="form-control" placeholder="Região">
      <input type="text" class="form-control" placeholder="Bandeira">
      <input type="text" class="form-control" placeholder="Tipo de Combustível">
      <input type="text" class="form-control" placeholder="Data de Coleta">
      <input type="text" class="form-control" placeholder="Valor de Compra">
      <input type="text" class="form-control" placeholder="Valor de Venda">
    </div>

    <input type="button" value="Cadastrar novo Distribuidor" *ngIf="btnCadastro" class="btn btn-primary" (click)="mostrarTabelaDeCadastro()" >
    <input type="button" value="Alterar" *ngIf="!btnCadastro"  class="btn btn-warning">
    <input type="button" value="Remover"  *ngIf="!btnCadastro" class="btn btn-danger">
    <input type="button" value="Cancelar" *ngIf="!btnCadastro" class="btn btn-secondary">
  </form>
  <div>
      <table class="table">
          <thead>
              <tr>
                  <th></th>
                  <th>Município</th>
                  <th>Região</th>
                  <th>Bandeira</th>
                  <th>Tipo de Combustível</th>
                  <th>Data de Coleta</th>
                  <th>Valor de Compra</th>
                  <th>Valor de Venda</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><button class="btn btn-success">Selecionar</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
</div>


